<div class="card text-dark bg-light mb-3" style="max-width: 100%">
  <div class="card-header" id="profileName">{{profile_name}}</div>
  <div class="card-body">

    <p class="card-text lead">
      {{post_desc}}
    </p>
  </div>
</div>